<!--source:https://nl.wikipedia.org/wiki/FC_Barcelona-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Futbol Club Barcelona (ook wel bekend als FC Barcelona of Barça) is een Spaanse voetbalclub uit Barcelona, Catalonië (Spanje). De club is een van de succesvolste voetbalclubs in Spanje en wereldwijd.[2] De thuiswedstrijden worden gespeeld in Camp Nou, dat sinds 2022 om sponsordoeleinden Spotify Camp Nou heet. De clubkleuren zijn donkerrood (granaatrood) en blauw, samen bekend als blaugrana. De aartsrivaal is Real Madrid; wedstrijden tussen beide clubs staan bekend als El Clásico. Daarnaast geldt stadsgenoot Espanyol als een andere belangrijke tegenstander; de onderlinge duels dragen de naam Derbi de Barcelona.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Hansi Flick</td><td>DE</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>1</td><td>Iñaki Peña</td><td>ES</td></tr>
            <tr><td>13</td><td>Wojciech Szczęsny</td><td>PL</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Héctor Fort</td><td>ES</td></tr>
            <tr><td>3</td><td>Alejandro Balde</td><td>ES</td></tr>
            <tr><td>4</td><td>Ronald Araújo</td><td>UY</td></tr>
            <tr><td>15</td><td>Andreas Christensen</td><td>DK</td></tr>
            <tr><td>23</td><td>Jules Koundé</td><td>FR</td></tr>
            <tr><td>24</td><td>Eric García</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>5</td><td>Iñigo Martínez</td><td>ES</td></tr>
            <tr><td>6</td><td>Gavi</td><td>ES</td></tr>
            <tr><td>8</td><td>Pedri</td><td>ES</td></tr>
            <tr><td>14</td><td>Frenkie de Jong</td><td>NL</td></tr>
            <tr><td>20</td><td>Dani Olmo</td><td>ES</td></tr>
            <tr><td>21</td><td>Fermín López</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>7</td><td>Ferran Torres</td><td>ES</td></tr>
            <tr><td>9</td><td>Robert Lewandowski</td><td>PL</td></tr>
            <tr><td>10</td><td>Ansu Fati</td><td>ES</td></tr>
            <tr><td>11</td><td>Raphinha</td><td>BR</td></tr>
            <tr><td>19</td><td>Lamine Yamal</td><td>ES</td></tr>
                       
        </tbody>
    </table>

</div>
