<!--source:https://nl.wikipedia.org/wiki/FC_Bayern_M%C3%BCnchen-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Fußball-Club Bayern München e. V.,[1] kortweg FC Bayern München, Bayern München of FC Bayern, is een Duitse voetbalclub uit München, uitkomend in de Bundesliga en opgericht in 1900. De thuishaven was van 1925 tot 1972 het Grünwalder Stadion, tot de zomer van 2005 het Olympiastadion, en sindsdien de Allianz Arena.

        FC Bayern München is de bekendste en succesvolste club van Duitsland en behoort tot de Europese en wereldtop. FC Bayern slaagde er als een van de weinige Europese topclubs in om samen met Manchester United FC, AFC Ajax, Juventus FC en Chelsea FC, alle drie de UEFA-hoofdcompetities (Europacup I / UEFA Champions League, Europacup II en UEFA Cup / UEFA Europa League) te winnen. Opvallend is dat de opkomst van deze vereniging, tot circa 1965 kleiner dan stadgenoot TSV 1860 München, gelijk opliep met de opkomst van Franz Beckenbauer.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Vincent Kompany</td><td>BE</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>1</td><td>Manuel Neuer</td><td>DE</td></tr>
            <tr><td>26</td><td>Sven Ulreich</td><td>DE</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Noussair Mazraoui</td><td>MA</td></tr>
            <tr><td>4</td><td>Matthijs de Ligt</td><td>NL</td></tr>
            <tr><td>5</td><td>Dayot Upamecano</td><td>FR</td></tr>
            <tr><td>19</td><td>Alphonso Davies</td><td>CA</td></tr>
            <tr><td>20</td><td>Konrad Laimer</td><td>AT</td></tr>
            <tr><td>28</td><td>Raphaël Guerreiro</td><td>PT</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>6</td><td>Joshua Kimmich</td><td>DE</td></tr>
            <tr><td>7</td><td>Serge Gnabry</td><td>DE</td></tr>
            <tr><td>10</td><td>Leroy Sané</td><td>DE</td></tr>
            <tr><td>18</td><td>Giovanni Reyna</td><td>US</td></tr>
            <tr><td>25</td><td>Thomas Müller</td><td>DE</td></tr>
            <tr><td>38</td><td>Michael Olise</td><td>FR</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>9</td><td>Harry Kane</td><td>EN</td></tr>
            <tr><td>11</td><td>Kingsley Coman</td><td>FR</td></tr>
            <tr><td>22</td><td>Jamal Musiala</td><td>DE</td></tr>
                       
        </tbody>
    </table>

</div>
