<!--source:https://nl.wikipedia.org/wiki/Club_Brugge-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Club Brugge KV is een Belgische voetbalclub, uitkomend in eerste klasse. Het is de succesvolste en naar aanhang populairste van de twee profclubs uit Brugge – de andere is Cercle Brugge. De club, die sinds 1959 onafgebroken in de hoogste afdeling speelt, is bij de Voetbalbond aangesloten met stamnummer 3, heeft blauw-zwart als kleuren en speelt in het stedelijk Jan Breydelstadion.

        In België veroverde enkel RSC Anderlecht meer landstitels dan Club Brugge en won geen enkele club meer bekers en supercups. Tevens is Club Brugge tot nog toe de enige Belgische club die de finale van de Europacup I (later hernoemd en hervormd tot de Champions League) speelde.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Nicky Hayen</td><td>BE</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>1</td><td>Simon Mignolet</td><td>BE</td></tr>
            <tr><td>16</td><td>Arno Rutten</td><td>BE</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Joel Ordoñez</td><td>EC</td></tr>
            <tr><td>3</td><td>Bjorn Meijer</td><td>NL</td></tr>
            <tr><td>4</td><td>Brandon Mechele</td><td>BE</td></tr>
            <tr><td>5</td><td>Maxim De Cuyper</td><td>BE</td></tr>
            <tr><td>15</td><td>Abakar Sylla</td><td>FR</td></tr>
            <tr><td>26</td><td>Jutgla</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>6</td><td>Arne Engels</td><td>BE</td></tr>
            <tr><td>8</td><td>Casper Nielsen</td><td>DK</td></tr>
            <tr><td>10</td><td>Chemsdine Talbi</td><td>MA</td></tr>
            <tr><td>14</td><td>Hugo Vetlesen</td><td>NO</td></tr>
            <tr><td>22</td><td>Andreas Skov Olsen</td><td>DK</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>7</td><td>Ferran Jutglà</td><td>ES</td></tr>
            <tr><td>9</td><td>Christos Tzolis</td><td>GR</td></tr>
            <tr><td>11</td><td>Antonio Nusa</td><td>NO</td></tr>
            <tr><td>19</td><td>Gustaf Nilsson</td><td>SE</td></tr>
                       
        </tbody>
    </table>

</div>
