<!--source: https://nl.wikipedia.org/w/index.php?title=Real_Madrid_CF&veaction=edit-->
<!--Uitbreiding voor later, met API werken?-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Real Madrid Club de Fútbol is een Spaanse voetbalclub uit Madrid. De club werd opgericht op 6 maart 1902 als Madrid Foot-Ball Club. Meestal wordt de huidige clubnaam afgekort tot Real Madrid. Daar enkele bijnamen, zoals Los Blancos en Los Merengues. De club speelt haar thuiswedstrijden in het Estadio Santiago Bernabéu en werd door de FIFA benoemd als de beste voetbalclub van de 20e eeuw.[1] De aartsrivaal van Real Madrid is FC Barcelona, wedstrijden tussen beide clubs staan bekend als El Clásico. Real Madrid behoort tot de meest succesvolle en beste clubs aller tijden.

        Real Madrid won zesendertig keer de Primera División, twintig keer de Copa del Rey, dertien keer de Supercopa de España, zes keer de UEFA Super Cup, twee keer de UEFA Cup, drie keer de Intercontinental Cup, vijf keer de FIFA Club World Cup, een keer de FIFA Intercontinental Cup en vijftien keer de Europacup I / UEFA Champions League. Real Madrid is met vijftien Europacup I / UEFA Champions League-overwinningen recordhouder van het toernooi, voor het Italiaanse AC Milan, dat het toernooi zeven keer wist te winnen.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Carlo Ancelotti</td><td>IT</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>1</td><td>Thibaut Courtois</td><td>BE</td></tr>
            <tr><td>13</td><td>Andriy Lunin</td><td>UA</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Dani Carvajal</td><td>ES</td></tr>
            <tr><td>3</td><td>Éder Militão</td><td>BR</td></tr>
            <tr><td>4</td><td>David Alaba</td><td>AT</td></tr>
            <tr><td>12</td><td>Trent Alexander-Arnold</td><td>EN</td></tr>
            <tr><td>17</td><td>Raúl Asencio</td><td>ES</td></tr>
            <tr><td>18</td><td>Álvaro Carreras</td><td>ES</td></tr>
            <tr><td>20</td><td>Fran García</td><td>ES</td></tr>
            <tr><td>22</td><td>Antonio Rüdiger</td><td>DE</td></tr>
            <tr><td>23</td><td>Ferland Mendy</td><td>FR</td></tr>
            <tr><td>24</td><td>Dean Huijsen</td><td>NO</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>5</td><td>Jude Bellingham</td><td>EN</td></tr>
            <tr><td>6</td><td>Eduardo Camavinga</td><td>FR</td></tr>
            <tr><td>8</td><td>Federico Valverde</td><td>UY</td></tr>
            <tr><td>14</td><td>Aurélien Tchouaméni</td><td>FR</td></tr>
            <tr><td>15</td><td>Arda Güler</td><td>TR</td></tr>
            <tr><td>19</td><td>Dani Ceballos</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>7</td><td>Vinícius Júnior</td><td>BR</td></tr>
            <tr><td>10</td><td>Kylian Mbappé</td><td>FR</td></tr>
            <tr><td>11</td><td>Rodrygo</td><td>BR</td></tr>
            <tr><td>16</td><td>Gonzalo García</td><td>ES</td></tr>
            <tr><td>21</td><td>Brahim Diaz</td><td>MA</td></tr>
            <tr><td>30</td><td>Franco Mastantuono</td><td>AR</td></tr>
                       
        </tbody>
    </table>

</div>
