<!--source:https://nl.wikipedia.org/wiki/Manchester_City_FC-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Manchester City Football Club is een Engelse voetbalclub uit Manchester, opgericht in 1880 als West Gorton Saint Marks. In 1887 werd de naam veranderd in Ardwick Football Club en in 1894 nam het de huidige naam aan. De club speelt zijn thuiswedstrijden in het Etihad Stadium in Oost-Manchester.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Pep Guardiola</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>31</td><td>Ederson</td><td>BR</td></tr>
            <tr><td>18</td><td>Stefan Ortega</td><td>DE</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Kyle Walker</td><td>EN</td></tr>
            <tr><td>3</td><td>Rúben Dias</td><td>PT</td></tr>
            <tr><td>5</td><td>John Stones</td><td>EN</td></tr>
            <tr><td>6</td><td>Akanji</td><td>CH</td></tr>
            <tr><td>7</td><td>Josko Gvardiol</td><td>HR</td></tr>
            <tr><td>22</td><td>Sergio Gómez</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>8</td><td>Mateo Kovačić</td><td>HR</td></tr>
            <tr><td>16</td><td>Rodri</td><td>ES</td></tr>
            <tr><td>17</td><td>Kevin De Bruyne</td><td>BE</td></tr>
            <tr><td>20</td><td>Bernardo Silva</td><td>PT</td></tr>
            <tr><td>25</td><td>Manuel Akanji</td><td>CH</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>9</td><td>Erling Haaland</td><td>NO</td></tr>
            <tr><td>10</td><td>Jack Grealish</td><td>EN</td></tr>
            <tr><td>11</td><td>Jeremy Doku</td><td>BE</td></tr>
            <tr><td>47</td><td>Phil Foden</td><td>EN</td></tr>
                       
        </tbody>
    </table>

</div>
