<!--source:https://nl.wikipedia.org/wiki/Paris_Saint-Germain_FC-->

<div class="aboutClub-container">
    <h3>Over De club</h3>
    <p>
        Paris Saint-Germain Football Club meestal aangeduid als PSG of Paris Saint Germain is een Franse voetbalclub uit de hoofdstad Parijs. Opgericht in 1970 als fusieclub, maar maakte in 2011 zijn opmars door de overname door Qatar Sports Investments.[1] Het is met zesenveertig nationale en internationale titels de meest succesvolle club van Frankrijk en speelt sinds 1974 onafgebroken op het hoogste niveau, langer dan elke andere club in de Franse competitie. De traditionele uitrusting van PSG bestaat uit een blauw en rood tenue. Het stadion van de club is Parc des Princes. Paris Saint-Germain veroverde een recordaantal van dertien landstitels.
    </p>

</div>

<div class="elftal-container">
    <h3>Spelers</h3>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>

            <tr><td colspan="3"><strong>Trainer</strong></td></tr>
            <tr><td></td><td>Luis Enrique</td><td>ES</td></tr>

            <tr><td colspan="3"><strong>Doelmannen</strong></td></tr>
            <tr><td>1</td><td>Gianluigi Donnarumma</td><td>IT</td></tr>
            <tr><td>99</td><td>Matvei Safonov</td><td>RU</td></tr>

            <tr><td colspan="3"><strong>Verdedigers</strong></td></tr>
            <tr><td>2</td><td>Achraf Hakimi</td><td>MA</td></tr>
            <tr><td>3</td><td>Presnel Kimpembe</td><td>FR</td></tr>
            <tr><td>4</td><td>Marquinhos</td><td>BR</td></tr>
            <tr><td>5</td><td>Lucas Beraldo</td><td>BR</td></tr>
            <tr><td>25</td><td>Nuno Mendes</td><td>PT</td></tr>
            <tr><td>26</td><td>Willian Pacho</td><td>EC</td></tr>

            <tr><td colspan="3"><strong>Middenvelders</strong></td></tr>
            <tr><td>6</td><td>Marco Asensio</td><td>ES</td></tr>
            <tr><td>8</td><td>Fabián Ruiz</td><td>ES</td></tr>
            <tr><td>14</td><td>Desiré Doué</td><td>FR</td></tr>
            <tr><td>17</td><td>Vitinha</td><td>PT</td></tr>
            <tr><td>23</td><td>Warren Zaïre-Emery</td><td>FR</td></tr>

            <tr><td colspan="3"><strong>Aanvallers</strong></td></tr>
            <tr><td>7</td><td>Khvicha Kvaratskhelia</td><td>GE</td></tr>
            <tr><td>9</td><td>Gonçalo Ramos</td><td>PT</td></tr>
            <tr><td>10</td><td>Ousmane Dembélé</td><td>FR</td></tr>
            <tr><td>11</td><td>Bradley Barcola</td><td>FR</td></tr>
                       
        </tbody>
    </table>

</div>
