@model ChampionsLeague.Models.Order.OrderTicketVM

@{
    ViewData["Title"] = "Tickets kopen";

}

@section Styles {
    <link rel="stylesheet" href="~/css/OrderIndex.css" />
}

<h1>Koop ticket</h1>

<form asp-action="CreateTicket" method="post">

</form>


