@model IEnumerable<Club>

@{
    ViewData["Title"] = "Tickets kopen";

}

@section Styles {
    <link rel="stylesheet" href="~/css/OrderIndex.css" />
}

<form asp-action="CreateTicket" method="post">

</form>


