@model IEnumerable<Club>

@{
    ViewData["Title"] = "Clubs Page";

}

@section Styles {
    <link rel="stylesheet" href="~/css/clubIndex.css" />
}

<div class="text-center">
    <h1 class="display-4 page-title">Clubs</h1>

    <section class="club-grid">
        @foreach (var club in Model)
        {
            <div class="club-card">
                <img src="@club.LogoPath" alt="@club.Naam" class="club-logo" />
                <p class="club-naam">@club.Naam</p>
            </div>
        }
    </section>
    
</div>

