@{
    ViewData["Title"] = "Clubs Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/clubIndex.css" />
}

<div class="text-center">
    <h1 class="display-4">Clubs</h1>

    <section class="club-grid">
        <img src=""
    </section>
    
</div>

