@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="hero-container">
         <h1 class="display-4">UEFA Champions League</h1>
        <img class="hero-image" src="/images/heroImage.jpg">
    </section>
   
</div>
