@model IEnumerable<Match>

@{
    ViewData["Title"] = "Matches Page";
    var groupedMatches = Model.GroupBy(m => m.MatchDate).OrderBy(g => g.Key);

}

@section Styles {
    <link rel="stylesheet" href="~/css/MatchIndex.css" />

}

<div class="matches-container">
    <h1>Matches</h1>

    <form data-ajax="true"
          data-ajax-url="@Url.Action("FilterByClub", "Match")"
          data-ajax-method="GET"
          data-ajax-update="#match-list"
          data-ajax-mode="replace">
        <select name="clubId"
                class="form-select w-auto"
                onchange="$(this).closest('form').submit()">
            <option value="">Alle ploegen</option>
            @foreach (var item in (SelectList)ViewBag.Clubs)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
    </form>
    
    <div id="match-list">
        @await Html.PartialAsync("_MatchList", Model)
    </div>
    
</div>

