@model IEnumerable<Match>

@{
    ViewData["Title"] = "Matches Page";
    var groupedMatches = Model.GroupBy(m => m.MatchDate).OrderBy(g => g.Key);

}

@section Styles {
    <link rel="stylesheet" href="~/css/MatchIndex.css" />
}

<div class="text-center">
    <h1 class="display-4 page-title">Matches</h1>

    @foreach (var group in groupedMatches)
    {
        <h4 class="match-date">@($"{group.Key:dd MMMM yyyy}")</h4>

        <section class="match-container">
            @foreach (var match in group)
            {
                <div class="match-section">
                    <div class="match-card">
                        <div class="match-teams">
                            <p class="match-thuisploeg">@match.Thuisclub.Naam</p>
                            <p class="match-bezoekers">@match.Bezoekersclub.Naam</p>
                        </div>
                        <div class="match-info">
                            <p>@match.Stadion.Naam</p>
                        </div>
                    </div>
                    <div class="buy-button">
                        <button>Koop ticket</button>
                    </div>
                </div>
                
            }
        </section>
    }
</div>