/*MOBILE*/

.club-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}



.club-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgba(226, 226, 226);
    border-radius: 5px;
}


.club-grid a {
    text-decoration: none;
}

 .club-card:hover {
     border: 2px solid rgba(3, 31, 56, 1);
     border-radius: 5px;
}



.club-grid img{
    width: 50%;
}

.club-naam {
    font-weight: bold;
    color: rgba(3, 31, 56, 1);
}

.club-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/*_ClubDetail.cshtml*/


.club-content {
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgba(226, 226, 226);
    border-radius: 5px;
}

.club-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgba(3, 31, 56, 1);
    color: white;
    padding: 1rem;
}

.club-header img{
    height: 5rem;
}

.club-stadion {
}




/*DEKSTOP*/

@media (min-width: 768px) {

    .club-grid {
        grid-template-columns: repeat(3,1fr);
    }
}
