/*Assign logo to club class*/

.real{
    background-image: url("/images/RealMadrid-logo.png")
}
.bayern {
    background-image: url("/images/Bayern-logo.png")
}
.psg {
    background-image: url("/images/Psg-logo.png")
}
.brugge {
    background-image: url("/images/Brugge-logo.png")
}
.mancity {
    background-image: url("/images/ManCity.png")
}
.barca {
    background-image: url("/images/Barca-logo.png")
}