/*MOBILE*/


.date-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0px;
}



.matches-per-date-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.match-container {
    background-color: rgb(245, 245, 245);
    border: 2px solid rgba(226, 226, 226);
    border-radius: 5px;
}

.match-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}





/*DEKSTOP*/
@media (min-width: 768px) {
   
}
