

/*MOBILE*/

p {
    padding: 0;
    margin: 0;
}

.ticket-details-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.clubnames{
    font-weight: bold;
}

/*DEKSTOP*/
@media (min-width: 768px) {
   
}

